.app-container {
    margin-top: 150px;
    font-family: Arial, sans-serif;
    
  }
  
  .main-title {
    text-align: center;
    color: #003366;
    font-weight: bold;
    font-size: 1.8rem;
  }
  
  .team {
    margin-top: 30px;
  }
  
  .team-title {
    color: #003366;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .chief {
    color: red;
    font-weight: bold;
  }
  
  .team-members {
    list-style: circle;
    margin-left: 20px;
  }
  
  .team-members li {
    margin: 5px 0;
  }
  