.evenement-page {
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 100px; /* Light background */
  }
  
  .evenement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .evenement-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    height: 100%; /* Ensure cards stretch to the same height */
  }
  
  .evenement-photo {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    margin: 0 auto 10px;
  }
  .evenementdash-photo {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    margin: 0 auto 10px;
  }
  
  .evenement-content {
    flex: 1; /* Allow content to grow evenly */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .evenement-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .evenement-date {
    font-size: 14px;
    font-weight: bold;
    color: #666;
  }
  
  .evenement-description {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
  }
  
  .evenement-link {
    color: #2ecc71;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .evenement-link:hover {
    text-decoration: underline;
  }
  
  .evenement-download-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .evenement-download-button:hover {
    background-color: #2980b9;
  }
  
  